*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    background-color: #151313;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
     height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 1px;
    border-bottom: 2px solid red;
}
nav button{
    padding: 5px 5px;
    border-radius: 5px;
    background: #354a61;
    color: #d9dcda;
    outline: none;
    cursor: pointer;
}
.right{
    background-color: #0660e8;
    backdrop-filter: blur(5px);
    color: #fff;
    width: 20px;
    border-radius:50%;
    padding: 2px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.left1{
    background-color: #db6207;
    color: #151313;
    width:fit-content;
    border-radius: 5px;
}
.left2{
    background-color: #e3df11;
    color: #151313;
    backdrop-filter: blur(5px);
    width:fit-content;
    border-radius: 5px;
}
.left3{
    background-color: #06c7c7;
    color: #151313;
    backdrop-filter: blur(5px);
    width:fit-content;
    border-radius: 5px;
}
section{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 15px 30px;
    margin: 10px 15px;
    background-color: #f1f0f0a6;
    /* background-color: rgb(7, 28, 50); */
    border: 2px solid rgb(223, 216, 9);
    gap: 25px;
}
section .task-column{
    background-color: rgb(45, 44, 44);
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
section .task-column.hover-over{
   border: 4px dashed rgb(0, 244, 216);
    transform: scale(1.02);
}

section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(79, 79, 36);
    padding-bottom: 5px;
}
section .task-column .task{
    background-color: #211e1e;
    backdrop-filter: blur(4px);
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    cursor:grab;
}
.task{
    user-select: none;
}
.task.dragging{
    opacity: 0.5;
}


section .task-column .task button{
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    background-color: rgb(159, 53, 53);
    color: #fff;
}
section .task-column .task p{
    color: grey;
}
.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;               
    align-items: center;
    justify-content: center;
}

.modal.active{
    display: flex;               
}

.modal .center{
    background-color: rgba(45, 44, 44, 0.4);
    border-radius: 2px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.modal .center input,
.modal .center textarea,
.modal .center select{
    background-color: #211e1e;
    border: none;
    outline: none;
    color: #d9dcda;
    padding: 10px;
    border-radius:5px;
}

.modal .center button{
    /* background: transparent; */
     background-color: #211e1e;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.6);
    backdrop-filter: blur(5px);
}
